* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e7e7e7;
  padding-top: 100px;
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
header h1 {
  font-size: 40px;
  font-weight: bold;
}
header img {
  height: 36px;
  margin-right: 16px;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
form {
  display: flex;
  max-width: 640px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 56px;
}
form input {
  font-size: 24px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #000;
  padding: 8px;
  margin-right: 8px;
}
form button {
  background-color: #838383;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 8px;
}

form button:hover {
  background-color: #6b6b6b;
}
table {
  width: 100%;
}

table th {
  border-bottom: 2px solid black;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}

table td {
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table button {
  background-color: red;
  border: none;
  padding: 5px;
  font-weight: bold;
}

#text-quant {
  font-weight: bold;
}
